HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# LLM ENV
SUMMARIZE_BASE_URL=https://api.openai.com/v1
# SUMMARIZE_BASE_URL=http://ollama:11434/api/generate
SUMMARIZE_API_KEY=""
SUMMARIZE_MODEL=""
OLLAMA_MODELS_PATH=""

# NOTION
VOICE_PAGE_ID=""
NOTION_API_KEY=""